@font-face {
  font-family: "iconfont"; /* Project id 3288560 */
  src: url('iconfont.woff2?t=1650526279349') format('woff2'),
       url('iconfont.woff?t=1650526279349') format('woff'),
       url('iconfont.ttf?t=1650526279349') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinleijianshao_o:before {
  content: "\eb7e";
}

.icon-pinleizengjia_o:before {
  content: "\eb7f";
}

.icon-sanjiaoleft:before {
  content: "\e6b6";
}

.icon-sanjiaoright:before {
  content: "\e6b7";
}

.icon-xinchuangkoudakai:before {
  content: "\e601";
}

.icon-weibiaoti1:before {
  content: "\e628";
}

.icon-shezhi:before {
  content: "\e612";
}

.icon-shuju:before {
  content: "\e619";
}

.icon-ditu:before {
  content: "\e655";
}

.icon-jiancha:before {
  content: "\e617";
}

.icon-ditu1:before {
  content: "\e60c";
}

.icon-xitongshezhi:before {
  content: "\e605";
}

.icon-ic_flight_takeoff_px:before {
  content: "\e8c5";
}

.icon-jia:before {
  content: "\e653";
}

.icon-jian-fangkuang:before {
  content: "\e8e0";
}

.icon-yuanqumianji:before {
  content: "\e613";
}

.icon-youxuanzhuan:before {
  content: "\e607";
}

.icon-zuoxuanzhuan:before {
  content: "\e609";
}

.icon-ftjz:before {
  content: "\e622";
}

.icon-fanhang:before {
  content: "\e63a";
}

.icon-cefangwei:before {
  content: "\e65b";
}

.icon-guiji-:before {
  content: "\e610";
}

.icon-kongzhi:before {
  content: "\e603";
}

.icon-Rulerbiaochi:before {
  content: "\e6ed";
}

.icon-zanting:before {
  content: "\e626";
}

.icon-hand-full:before {
  content: "\e91a";
}

.icon-dimanxiaofeihangqi:before {
  content: "\e78d";
}

.icon-ic_xuhangbang:before {
  content: "\e6a8";
}

.icon-kongzhi-selected:before {
  content: "\e604";
}

.icon-qingqiu:before {
  content: "\e61d";
}

.icon-send-s:before {
  content: "\e652";
}

.icon-duqu_vfb:before {
  content: "\e631";
}

.icon-suoxiao:before {
  content: "\e7ad";
}

.icon-xinxi:before {
  content: "\e825";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-xiangshang:before {
  content: "\e600";
}

.icon-planebfeiji:before {
  content: "\e659";
}

.icon-jiantou:before {
  content: "\e630";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-feiji:before {
  content: "\e6f2";
}

.icon-wurenji:before {
  content: "\e602";
}

.icon-wurenji1:before {
  content: "\e7f5";
}

.icon-mono-top-full:before {
  content: "\ea56";
}

