@import "~ant-design-vue/dist/antd.less";
@import "./antd-variables.less";
@import "./variables.less";
@import "./mixin.less";

* {
  margin: 0;
  padding: 0
}
ol, ul, dl ,p{
  margin: 0;
}
#nprogress .bar {
  background: @primary-color !important;
}

.text-align-right {
  text-align: right;
}

body {
  font-family: "Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif";
}
.loginT {
  .ant-form-item-label > label {
    color: #fff;
  }
  .ant-form-item-label
    > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
  }
  .ant-select-selector {
      background: @mainbg !important;
      color: #fff !important;;
    width: 120px !important;

  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #7287fd !important;
    border-radius: 10px;
  }
  .ant-select-selection-item {
    font-weight: normal;
  }
  .ant-select-item{
      color: #fff !important;
  }
  .ant-select-arrow{
    color: #7287fd !important;
  }
  .file{
    input{
      background: #1B223C;
      color: #fff !important;
      border-radius: 10px;

    }
  }
}



